/*
-----> BEM VINDO USUARIO: DESENVOLVA SEUS ARQUIVOS PADRONIZANDO SUAS VARIAVEIS DE COR CENTRALIZADAS EM UM UNICO ARQUIVO... SE ATENTANDO DE SEPARAR VARIAVEIS POR SEÇÃO INDIVIDUAL ATRAVEZ DO SEPARADOR ------
*/

//COMPONENTS

//------------------------------------------------------------//
//cor de botões:

$button-normal: #5e405b;
$button-normal-hover: #4b3449;

$Focus-Fill: #FF0040;


//cores primarias
$Primary-color: #ff9a52;
$Secundary-color: #ff7752;
$Tertiary-color: #ff5252;
$Fourty-color: #653560;



//EFECT COLORS
$Error: #F0FF00;
$Caultion: #FF0000;
$Success: #22FF00;

//-------------------


//grayscale
$Silver-Gray: #bbbbbb;
$Medium-Gray: #777777;
$Dark-Gray:  #555555;
$Ultra-Gray: #2d2d2d;
$Almost-Gray: #eeeeee;


//Canadian Colors
$Canadian-Blue-one: #063269;
$Canadian-Blue-two: #05193A;
$Canadian-Blue-tree: #7295CA;
$Canadian-Blue-four: #FBFCFE;
$Canadian-Blue-five: #051942;
$Space-Blue: #424572;



