@import '../../../../modulo_scss/variables/colorPaint.scss';

.Search{    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 100%;
    position: relative;
    transition-duration: 600ms;
        z-index: 4;
        input{
            padding-left: 20px;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color: #dfdbdb;
            color: #000000;
            transition-duration: 300ms;

                &::placeholder{
                    color: #000000;
                }

                &:focus{
                    border: 1px solid $Tertiary-color;
                    padding-left: 19px;
                    &+a{
                        color: $Tertiary-color;
                    }
                }
        }

        a{
            position: absolute;
            font-size: 1.2rem;
            right: 2%;
            transition-duration: 300ms;
        }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px){
    .Search {
        width: 20em;
    }
}//-> OK

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .Search {
        width: 20em;
    }
} //-> OK

@media only screen and (min-device-width: 480px) and (max-device-width: 768px){
    .Search{
        width: 35%;
        right: 10%;
    }
}

@media only screen and (max-device-width: 480px){
    .Search{
        position: absolute;
        right: 50%;
        transform: translate(50%);
        top: 11vh;        
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition-duration: 400ms;
        overflow: hidden;
        z-index: 5;

            &.active{
                width: 15rem;
                visibility: visible;
                opacity: 1;
                // z-index: 10;
            }
    }
}