@import "../../../../modulo_scss/variables/colorPaint.scss";

.ListMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  transition-duration: 600ms;

  li {
    position: relative;
    &:hover {
      border-bottom: 1px solid $Almost-Gray;
    }
    .contadorCart{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      background-color: rgb(255, 98, 0);
      right: 0px;
      top: 0px;
      cursor: pointer;
      transition: all ease 200ms;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .9rem;
      font-weight: bolder;
      color: white;
  }
  }

  a {
    font-size: 1.2rem;
    color: $Primary-color;

    img{
      width: 60px;
    }

    &:hover {
      color: $Secundary-color;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .ListMenu {
    position: fixed;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    right: 20%;
    top: 3.5%;
    height: fit-content;

      li{
        .contadorCart{
          width: 20px;
          height: 20px;
          right: 5px;
          top: -5px;
      }
      }

      img{
        width: 45px;
        height: 45px;
      }
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .ListMenu {
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    right: 40%;
    top: -45px;
    height: 25vh;
    overflow: hidden;

      li{
        .contadorCart{
          width: 30px;
          height: 30px;
          right: 0;
          top:  0px;
      }
      }

      img{
        width: 70px;
        height: 70px;
      }
  }
}

@media only screen and (min-device-width: 758px) and (max-device-width: 1024px) {
  .ListMenu {
    height: 100%;
    a {
      font-size: 1rem;
    }
  }
}
